.userinfoWrapper {
    max-width: 850px;
    /* background-color: var(--white); */
    height: 250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userinfoImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
}
.userinfoName {
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 10px;
}
.userinfoData{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.userinfoDataNum {
    font-size: 20px;
    font-weight: 700;
}
.userinfoBio {
    margin-bottom: 20px;
}
.profileSettingsButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: var(--white);
    background-color: var(--bluedark);
    margin-bottom: 10px;
}
.profileDeleteButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--white);
    /* background-color: rgb(202, 57, 57); */
    background-color: var(--pop);
    margin-right: 10px;
}
.profileNoDeleteButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--bluedark);
}
.profileEditForm {
    display: block;
    margin: auto;
    width: 500px;
}
.followButton {
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--bluedark);
    background-color: var(--white);
}
.followingButton {
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--bluedark);
}
.cancelIcon {
    color: var(--bluelight);
}
.bioTextArea{
    border: 1px solid var(--bluedark);
    outline: none;
}
.editProfileInput {
    background-color: var(--bluedark);
    color: var(--bluelight);
    padding: 5px 0px;
    border-radius: 5px;
}
.info {
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}