.register{
    width: 100vw;
    height: 100vh;
    background-color: var(--bluelight);
    display: flex;
    align-items: center;
    justify-content: center;
}
.registerWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}
.registerLeft, .registerRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registerLeft {
    margin-right: 50px;
}
.registerLogo {
    font-size: 50px;
    font-weight: 700;
    color: var(--bluedark);
    margin-bottom: 10px;
}
.registerDesc {
    font-size: 24px;
    color: var(--bluedark);
    margin-bottom: 10px;
}
.registerBox{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
    padding: 20px;
    background-color: var(--bluelight);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registerHead {
    color: var(--bluedark);
    font-size: 30px;
}
.registerInput {
    outline: none;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 20px;
    border: 1px solid var(--bluelight);
}
.registerButton {
    transition: 0.3s;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--bluedark);
    color: var(--bluelight);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.registerLogin {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--bluedark);
    color: var(--bluelight);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.registerGoogle {
    text-align: center;
    color: var(--bluelight);
}
.loginAccount {
    text-align: center;
    color: var(--bluedark);
}
.errorMessage {
    color: var(--pop);
}