/* bluedark
bluelight
white
cream */
/* container */
.topbarContainer {
    background-color: var(--bluedark);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
/* left */
.topbarLeft{
    flex: 3;
}
.logo{
    color: var(--white);
    font-size: 25px;
    font-weight: 700;
    margin-left: 50px;
    cursor: pointer;
}
/* center */
.topbarCenter {
    flex: 5;
}
.searchBar {
    position: relative;
    background-color: var(--white);
    width: 80%;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: auto;
}
.searchUsers {
    height: 250px;
    overflow-y: scroll;
    position: absolute;
    width: 80%;
    top: 40px;
    left: 50px;
    background-color: var(--white);
}
.searchUser {
    color: #000;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--bluelight);
    font-weight: 700;
    cursor: pointer;
}
.searchUserProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
}
.searchIcon {
    color: var(--bluedark);
    font-size: 20px !important;
    margin-left: 10px;
}
.cancelIcon {
    cursor: pointer;
    color: var(--bluedark);
    font-size: 20px !important;
    margin-right: 10px;
}
.searchInput{
    outline: none;
    border: none;
    width: 90%;
}
/* right */
.topbarRight {
    color: var(--white);
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbarIcons{
    display: flex;
}
.topbarIconItem{
    cursor: pointer;
    position: relative;
    margin-right: 50px;
}
.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: #FF8946;
    color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.userImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 20px;
}
.logoutButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--bluedark);
    background-color: var(--bluelight);
}
/* media queries */
@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .topbarContainer{
        flex-direction: column;
        align-items: stretch;
        height: 130px;
    }
    .topbarCenter {
        flex: 0;
    }
    .topbarIconItem {
        margin-right: 30px;
    }
}