.post{
    border-radius: 10px;
    background-color: var(--white);
    max-width: 850px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.postWrapper {
    padding: 10px;
}
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postUserLink{
    display: flex;
    align-items: center;
    color: #000;
}
.postProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
}
.postUserName {
    font-size: 19px;
    font-weight: 700;
    margin-right: 15px;
    cursor: pointer;
}
.postDate{
    color: gray;
    font-size: 15px;
    font-weight: 300;
}
.postCenter{
    margin-left: 10px;
}
.postText{
    margin-bottom: 10px;
}
.postPostImg{
    max-width: 100%;
    max-height: 600px;
    object-fit: contain;
    margin-bottom: 10px;
}
.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}
.postBottomIcon{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}
.postBottomRight {
    display: flex;
    align-items: center;
}
.postLikeCounter,
.postCommentCounter {
    font-size: 15px;
}
.postCommentCounter{
    border-bottom: 1px dashed gray;
}
.liked {
    color: var(--pop);
    margin-right: 10px;
}
.postTopRight {
    position: relative;
}
.horizonIcon{cursor: pointer;}
.postOptionBar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--white);
    width: 130px;
    position: absolute;
    left: 0px;
}
.postOptionItem {
    cursor: pointer;
    margin: 10px;
}
.postOptionItem:hover {
    color: var(--pop);
}
.editPost {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: var(--white);
    position: absolute;
    top: 0px;
    left: 300px;
    padding: 0px 20px;
    height: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.editContentInput {
    outline: none;
    width: 300px;
    height: 20px;
    margin-bottom: 5px;
}
.submitPostEditBtn {
    background-color: var(--bluedark);
    color: var(--bluelight);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}
.canceltPostEditBtn {
    background-color: var(--bluelight);
    color: var(--bluedark);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}