.rightbar{
    flex: 4;
    /* height: calc(100vh - 60px); */
}
.rightbarWrapper{
    border-radius: 10px;
    margin: 70px 50px 0px 20px;
    max-width: 400px;
    padding: 20px;
    background-color: var(--white);
}
.rightbarTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
@media only screen and (max-width: 1400px) {
    .rightbarWrapper {
        max-width: 810px;
        margin: 70px 20px 0px 150px;
    }
    .rightbarWrapper {
        padding: 20px;
    }
    .rightbarBottom{
        display: flex;
        justify-content: space-evenly;
    }
}